<p>
  <a href="#">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div id="copyright">
  <br />Webmaster: <%= mail_to "YOUR EMAIL", "Samir Abdaljalil", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2019
  <br /><br />
</div>