// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$table-striped-color: #cfd8dc;
$primary-color: #FFC107; 
$button-height: 26px; 
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
#toast-container {
 left:1%;
 right: auto !important;
}